nav.navbar.navbar-expand-md.navbar-dark.bg-info.shadow
            div.container
                a(href="/" style="color: green;").navbar-brand.text-light FilmSitesi
                button(type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse")
                    span.navbar-toggler-icon

                div.collapse.navbar-collapse#navbarCollapse
                    div.navbar-nav

                        li.nav-item
                            a(href="/" class=(path=='/'?'nav-link active':'nav-link')) Ana Sayfa

                        if !isAuthenticated
                            li.nav-item
                                a(href="/login" class=(path=='/login'?'nav-link active':'nav-link')) Giriş Yap

                        if isAuthenticated
                            li.nav-item
                                a(href="/izlenmisfilmler" class=(path=='/izlenmisfilmler'?'nav-link active':'nav-link')) İzlenmis Filmler

                            li.nav-item
                                a(href="/izlenecekfilmler" class=(path=='/izlenecekfilmler'?'nav-link active':'nav-link')) İzlenecek Filmler

                            li.nav-item
                                a(href="/filmoner" class=(path=='/filmoner'?'nav-link active':'nav-link')) Film Öner

                            li.nav-item
                                a.nav-link.me-2(href="/logout") Çıkış Yap
