nav.navbar.navbar-expand-md.shadow.istebg.navbar-dark
            div.container
                a(href="/" style="color: green;").navbar-brand.text-light
                    img(src="img/yatay_logo.png" width=250)
                button(type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse")
                    span.navbar-toggler-icon

                div.collapse.navbar-collapse#navbarCollapse
                    div.navbar-nav.text-light.text-bold

                        li.nav-item
                            a(href="/" class=(path=='/'?'nav-link active':'nav-link')) Ana Sayfa

                        if !isAuthenticated
                            li.nav-item
                                a(href="/login" class=(path=='/login'?'nav-link active':'nav-link')) Giriş Yap

                        if isAuthenticated
                            li.nav-item
                                a(href="/tamamlanmis" class=(path=='/tamamlanmis'?'nav-link active':'nav-link')) Tamamlanmış İşler

                            li.nav-item
                                a.nav-link.me-2(href="/logout") Çıkış Yap
