extends ./layouts/main-layout.pug 


block content
    div.mt-3.bg-info.p-2.rounded.shadow
        div.form-group
            label.text-light.mx-auto
                strong Film Öner
            input(placeholder="Film Ara").form-control#oneriInput

    div#results