* {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

.buton1 {
    display: inline-block !important;
}

.transbgcolor{
    background-color: rgba(0, 0, 0,.8);
}

.bgposition{
    background-size: cover;
    background-repeat: no-repeat;
}